<h1 class="page-title">Voucher created</h1>
<div class="main-container">
  <p style="text-align:center">Voucher created succesfully : "<%= @voucher %>"<br>Please send it to its owner</p>
  <%= link_to "Back to index", "/admin", class: "button",
    style: "display:table;margin:0 auto" %>
</div>
