<h1 class="page-title">Database reset</h1>
<div class="main-container">
  <p style="text-align:center">Spe database has been successfully emptied</p>
  <%= link_to "Back to index", "/admin", class: "button",
    style: "display:table;margin:0 auto" %>
</div>
