<h1 class="page-title">Spes database seeded</h1>
<div class="main-container">
  <p style="text-align:center">Seed successful.<br/>Please check the admin index to make sure everything is OK before proceeding further.</p>
  <%= link_to "Back to index", "/admin", class: "button",
    style: "display:table;margin:0 auto" %>
</div>
