<h1 class="page-title">Emails sent</h1>
<div class="main-container">
  <p style="text-align:center">A welcome e-mail has been sent to every spe.<br/>Please check your mailbox to make sure they have been sent properly.<br/>Delivery might take up to ten minutes</p>
  <%= link_to "Back to index", "/admin", class: "button",
    style: "display:table;margin:0 auto" %>
</div>
