<div class="header">
    <h5 class="side-title">HX2 - 2016/2017</h5>
    <h1 class="page-title">Adopte un Spé</h1>
</div>

<div class="main-container justify">
    <p>Ce site est encore en cours de construction, et ne permet pas un fonctionnement normal à l'heure actuelle, mais repassez plus tard</p>
    <p>Si vous souhaitez apporter quelquechose à sa construction ou si vous avez des réclamations, merci de m'écrire, à l'adresse suivante: <a href="mailto:david.robin97@gmail.com">david.robin97@gmail.com</a></p>
    <p>Si cela concerne la sécurité du site, la protection des données de ses utilisateurs, ou toute autre information sensible, merci de crypter votre message en utilisant <a href="/public/sevisKey.asc">ma clé PGP</a></p>
</div>

<div class="footer">
    <p class="copyright small">&copy; David ROBIN</p>
    <div class="bottom-links">
        <h5><%= link_to "questions", "/questions" %></h5>
        <h5><%= link_to "annonces", "/message_board" %></h5>
        <h5><%= link_to "preview", "/user_login" %></h5>
    </div>
</div>
