<style>
body { background: #1C2128; }
</style>
<div class="main-container">
  <div class="user-login-form">
    <h5>Conditions d'utilisation</h5>
    <p class="subtitle"><i>aka "on s'en fout de ça, j'accepte"</i></p>
    <p>Félicitations ! Tu es le seul bouffon à avoir le bon réflexe de faire semblant de lire les conditions d'utilisation !</p>
    <p>Non, sérieusement ? Tu t'attendais à quoi ? Un texte de 25 pages qui t'explique que tes spés ne sont pas là pour te martyriser et que la soirée d'intégration va bien se passer ?</p>
    <p>Pff... </p>
    <p>Allez va répondre au questionnaire et souffre en silence</p>
  </div>
</div>
