<h1>Explication du nouveau système de points :</h1>
<br>
<h3>Restrictions de modifications</h3>
<p>Vous ne pouvez désormais modifier que votre propre capital de points.</p>
<p>Vos points s'affichent à gauche de la réponse</p>
<br>
<h3>Changement des attributions</h3>
<p>Vous disposez de 10 points, à répartir comme vous le souhaitez entre les différentes réponses</p>
<p>Essayez d'éviter de tout mettre sur une seule, il est rare qu'une seule réponse vous corresponde.</p>
<p>Préférez répartir sur les différentes réponses qui vous semblent vous correspondre un peu.</p>
<p>Le système ne modifie rien pour l'instant, pour vous laisser le temps d'équilibrer vos points.</p>
<p>Ils seront ensuite ajustés pour chacun de façon à conserver les proportions qui avaient été proposées en gardant un total de 10</p>
<br>
<h3>Validation des questions</h3>
<p>Vous pouvez votez pour ou contre le fait de garder une question, avec les petites flèches rouge et verte.</p>
<p>La bordure de couleur vous indique ce que vous avez voté pour cette question</p>
<p>Cela permet d'avoir un score par question. Celles avec les scores les plus bas seront automatiquement supprimées</p>
<br>
<h3>Pondération des questions</h3>
<p>Certaines questions sont drôles à poser, mais ne permettent pas d'identifier un parrain potentiel</p>
<p>Vous pouvez définir un coefficient que vous souhaitez attribuer à la question dans le calcul d'affinité</p>
<p>Celui-ci figure dans la petite case grisée, et à droite de la question dans la page de modification</p>
<p>Pour vous donner une idée de ce qu'ont voté les autres, la moyenne des coefficients est affichée à côté</p>
<p>Les coefficients doivent être des entiers de 0 à 10. Mettre un coefficient de 0 équivaut à s'abstenir.</p>
<br>
<p>À titre d'indication, voici des coefficients suggérés :</p>
<p>7 à 9 pour les questions qui traitent des centres d'intérêt, de la présence, des méthodes de travail, etc.</p>
<p>4 à 6 pour les blagues qui donnent tout de même un renseignement utile sur les goûts.</p>
<p>1 à 3 pour les privates jokes et autres questions auxquelles les sups ne connaissent rien</p>
<br>
<h3>Cumul des votes</h3>
<p>Vous pouvez voter contre une question <u>et</u> lui affecter un faible coefficient.</p>
<p>Elle sera peut être retirée, et si elle ne l'es pas, votre vote compte dans le calcul de la moyenne</p>
<br>
<h3>Supression des trolls</h3>
<p>Si certaines personnes votent de façon étrange, disproportionnée, ou surcoefficientent leurs questions,</p>
<p>leur vote sera ignoré lors du calcul final des coefficients, alors ne vous fiez pas trop à la moyenne</p>
